.some_elem {
    background-color: aquamarine;
    min-height: 200px;
    width: 100%; /* т.е. он всегда будет 500px, если будет меньше, чем  500px, он будет занимать все пространство */
    min-width: 200px; /* не меньше, чем 200px на маленьких экранах,  */
    max-width: 500px;/* а на больших не больше 500px  */
}

